<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <pickupdelivery>
                <active>0</active>
                <model>Demo\PickupDelivery\Model\Carrier\PickupDelivery</model>
                <title>Pickup Delivery</title>
                <name>Pickup Delivery</name>
                <price>0</price>
                <sort_order>50</sort_order>
            </pickupdelivery>
        </carriers>
    </default>
</config>
